body{
  background-color: #FFA200!important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}




.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.logoJaDelivery{
  margin-left: -100px;
  margin-right: 3px;
  padding-bottom: 5px;
}

.btn-warning{
  background-color: #FFA200 !important;
}

.nav-link{
  font-size: medium;
  font-weight: 100;
  color: #FFA200 !important;
}

.jaDeliveryTexto{
    overflow: visible;
    font-family: Kristen ITC;
    color: rgba(255,255,255,1);
    margin-right: 40px;
}

.logo-itens{
  padding-left: 5px;
  padding-right: 15px;
  
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5%;
  left: 0px;
  background-color: #212529;
}



/*CSS Cadastro de usuário*/

.FormUsuario{
  padding: 20px;
}


/*CSS Lista de usuarios*/

.listaUsuariosRegistros{
  padding-top: 2%;
  padding-bottom: 5%;
}


/*CSS Modal lista de usuarios*/

.modalEditSaveBtn, .modalEditSaveBtn:hover{
  background-color: #FFA200 !important;
  color: #212529;
  border-style: none;
}

.modalEditSaveBtn{
  height: 40px !important;
}

.btnInativarUsuario{
  border-style: none;
  background-color: grey;
}

.modalUserUpdate{
  margin: auto;
  padding: 5px;
}

.form-update-user Label{
  padding: 5px;
  color: black;
}

.buttonUpdateUser{
  background-color: #FFA200;
  border-style: none;
}

.buttonUpdateUser:hover{
  background-color: #FFA200 !important;
}

.btnInativarUsuario:hover{
  background-color: grey !important;
}




/*CSS Carrosel*/

.carroselProdutos{
  position: relative;
  bottom: 0px;
  border-radius: 200px !important;
}

.btnLogout, .btnLogout:hover{
  background-color: #FFA200 ;
  border-color: black;
}

.btnLogout:hover{
  background-color: #ffa200d7 !important;
  border-color: black !important;
}


.errorCpf{
  color: red;
}

.errorValores{
  color:red;
}

.errorEmail{
  color: red;
  text-align: center;
}

.errorNome{
  color:red;
}

.errorDescricao{
  color: red;
  text-align: center;
}

/*Nulo dos produtos*/
.errorNulo{
  padding-left: 5px;
  color: red;
  text-align: center;
}

.btnAddProduct{
  border-radius: 10px !important;
}

.InputImagens{
    width: 400px;
}

.formCarregaImagem{
  display: flex;
  flex-direction: row;
}

.imgCarregada{
  width: 100px;
}

.barraProgresso{
  color: white;
  width: 200px;
  background-color: #FFA200 !important;
}


.listaCabeçalho{
  font-size: larger;
  color: #212529;
  padding: 10px;
  font-weight: bold;
}

.FormUsuario{
  padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .footer-principal{
    display: none !important;
  };
}

/*CSS DOS DETALHES DE PRODUTOS*/

.productDetailSection{
  margin-top:5%;
}

.headerCarrosel{
  font-weight: 20px !important;
  font-size: 30px;
  padding-left: 5px;
}

/*CSS PAGINA VISITANTE*/

.btnEntrar{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #FFA200;
  border-radius: 30%;
  color: #212529;
  text-decoration: none;
}

.logoModalVisit{
  margin: auto;
  border: 2px solid #212529;
  border-radius: 70px;
}

.textoModalVisit{
  margin:auto;
}

.buttonModalVisit{
  margin: auto;
}

.headerModalVisit{
  background-color: #FFA200;
}

.mais18{
  text-decoration: none;
  color: white;
}

.mais18 :hover a{
  text-decoration: none;
  color: white;
  background-color: white;
}




.fechamentoPedido{
  background-color: white;
  border-radius: 30% !important;  
  width: 20px !important;
}

.listaCabeçalhoPedido{
  background-color: #757575 !important;
}

.resumoPedido{
  margin-top: 5% !important;
  border-radius: 50% !important;
  width: 55%;
  margin: auto;
}

.btnFecharPedido{
  background-color: #757575 !important;
  width: 100px;
  margin-top: 5px;
  margin-left: 165%;
  height: 40px;
  border:2px solid black;
  border-radius: 10%;
}

.tiposPagamento{
  background-color: #212529;
  color: #212529 !important;
}

.sessaoTipoPagamento{
  margin-top: 50px !important;
  margin: auto;
  width: 30% !important;
}




